html {
 font-size: 18px;
}

header {
 position: relative;
 left: 50px;
 width: 100%;
 font-size: 3rem;
 color: red;
 border: 5px solid red;
}

article {
 display: flex;
 flex-flow: column wrap;
 flex-grow: space-between;
 position: relative;
 border: 10px solid blue; 
 width: 100%;
 background-color: blanchedalmond;
}

article p {
 font-size: 2rem;
 color: blue;
 font-family:Verdana, Geneva, Tahoma, sans-serif;
}

article h2 {
 font-size: 3rem;
 color: violet;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 transition: color 600ms ease-in 200ms, font-size 600ms ease-in 200ms,
 left 600ms ease-in 200ms;
}

article h2:hover {
 color: blueviolet;
 font-size: 5rem;
 left: 200px;
}

figure p {
 font-size: 2rem;
 color: violet;
 display: flex;
 position: relative;
 left: 50%;
 transition: color 600ms ease-in 200ms, font-size 600ms ease-in 200ms,
 left 600ms linear 200ms, top 600ms linear 200ms;
}

figure p:hover {
 color: blueviolet;
 font-size: 3rem;
 left: 80%;
 top: 80px;
}
